*{
     margin: 0;
     padding: 0;
}
html,body{
     width:100%;
     height:100%;
     font-size:14px;
     font-weight: normal;
}
.background{
     width:100%;
	 height:100%;
     background-image: url("https://images.pexels.com/photos/1194806/pexels-photo-1194806.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	 background-repeat: no repeat;
	 background-size: cover;
	 position: relative;
	 overflow-y: auto;
}
.nav{
     width: 350px;
	 height: auto;
	 position: absolute;
	 top:20%;
	 left:0;
	 
}
.nav a{
     text-decoration: none;
	 font-size: 28px;
	 font-family: bold;
	 height: 90px;
	 margin:5px 0;
	 float: left;
	 display: inline-block;
	 background-color: black;
	 color: white;
	 line-height:90px;
	 text-align: center;
	 transition: 300ms;
}
a.active{
     background-color:#2C3539;
	 color: red;
}
.nav a:hover{
     background-color: #2C3539;
	 color: red;
	 width:100%;
}
.a{
     width: 95%;
}
.b{
     width: 85%;
}
.c{
     width:80%;
}
.d{
     width: 90%;
}
.content{
     position: absolute;
	 width: 930px;
	 min-height: 500px;
	 height: auto;
	 right: 0px;
	 top: 10%;
	 }
.home{
     position: absolute;
	 right: 0;
	 bottom: -10px;
	 color: #E5E4E2;
	 font-family: veranda;
	 
}
.home h1{
     font-size: 95px;
	 padding-right:90px;
	 border-bottom: 1px solid white;
	 text-transform: uppercase;
	 
}
.home h3{
     font-size:28pxx;
	 padding:5px 0;
	 opacity: 0.6;
}


	 